div.offer{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
   
}
div.offer>h1>p{
    width: auto;
    height:auto;
    text-align: center;
    font-size: 28px;
    padding: 25px;
}

div.offer>div.top{
    width:90%;
    padding: auto;
    box-sizing: border-box;
    background-color: transparent;
    margin: 0 auto;
   border: 1px solid lightgray; 
    
    
}
div.offer>div.top>div{
    display: inline-block;
    width: 14%;
    padding: 10px;
    box-sizing: border-box;
   border-left: 1px solid lightgray; 
    text-align: center;
   
   

}
div.offer>div.top>div>img{
    width: 50%;
     border: 1px solid lightgray; 
    border-radius: 50%;
    
}
div.offer>div.top>div>p{
    font-family: IranSans;
    font-size: 12px;
    margin-right: 16px;
    margin-top: 7px;
   
}
div.offer>div.bottom{
    width:90%;
    padding: auto;
    box-sizing: border-box;
    background-color:transparent;
    margin: 0 auto;
    border: 1px solid lightgray;
   
    
    
}
div.offer>div.bottom>div{
    display: inline-block;
    width: 14%;
    padding: 10px;
    box-sizing: border-box;
    border-left: 1px solid lightgray;
    text-align: center;
   
}
div.offer>div.bottom>div>img{
    width: 50%;
    border-radius: 50%;
    margin-right: 16px;
    border: 1px solid lightgray;
}
div.offer>div.bottom>div>p{
    font-family: IranSans;
    font-size: 12px;
    margin-right: 16px;
    margin-top: 7px;
   
}
div.offer>div.top>div:last-of-type{
    border: unset;
}
div.offer>div.bottom>div:last-of-type{
    border: unset;
}