div.services {
  width: 100%;
  height: 140px;
  background-color: transparent;
  box-sizing: border-box;
  text-align: center;
  /* border: 1px solid black; */
  
}
div.services > div {
  width: 100px;
  display: inline-block;
  margin: 0 23px;
  background-color: transparent;
  margin-top: 20px;
  vertical-align: top;
  padding:5px;
   /* border: 1px solid red;  */
  

}
div.services > div > img {
  width: 53px;
  height: inherit;
  /* border: 1px solid blue; */
}
div.services > div > div.last {
  width:50px;
  height:inherit;
  background-color: rgb(240, 235, 235);
  border-radius: 50%;
  line-height: 50px;
  margin: 0 auto;
  
}
div.services > div > div.last > span {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: rgb(132, 131, 131);
  border-radius: 50%;
  
 
}
div.services > div >p{
  width: 100px;
    text-align: center;
    font-family: IranSans;
    font-size: 10px;
    /* font-weight: bold; */
    padding-top: 10px;
   /* border: 1px solid green;  */
    
}


